[Desktop Entry]
Encoding=UTF-8
Name=bcc
TryExec=lxterminal
Exec=lxterminal -t bcc --geometry=100x30 --working-directory=/usr/local/bcc/ -l -e 'bash -c "./su-bcc.run"'
Icon=ac-adapter
Type=Application
Categories=Utility
